/* Empty. Add your own CSS if you like */

.titulos {
	color:#000;
}

.wrapPreg {
	transition: all linear 0.5s;
		-webkit-transition: all linear 0.5s;
		-moz-transition: all linear 0.5s;
 	background-color: tomato;
  	height: 100px;
  	width:100%;
  	font-size: 20px;
  	font-family: Tahoma, "sans-serif", Serif;
  	color:#EEE;
}

.ng-hide {
  height: 0;
}

.boton-inicio {
  width:100%;
  height:30%;
  font-size: 25px;
  margin:0 auto;
}

.resp-correcta {
  background-color: #33FF00;
  color:#000;
}

.resp-incorrecta{
  background-color: #FF3300;
  color:#000;
}
