/* Empty. Add your own CSS if you like */

.titulos {
	color:#000;
}

.wrapPreg {
	transition: all linear 0.5s;
		-webkit-transition: all linear 0.5s;
		-moz-transition: all linear 0.5s;
 	background-color: tomato;
  	height: 100px;
  	width:100%;
  	font-size: 20px;
  	font-family: Tahoma, "sans-serif", Serif;
  	color:#EEE;
}

.ng-hide {
  height: 0;
}
